<div class="row">
<div class="span6 offset3">
<div class="well">
<p>
  <b style="font-size:110%">Topic:</b>
  <%= @discussion.title %>
</p>

<p>
  <b>Language:</b>
  <%= @discussion.language %>
</p>

<p>
  <%= @discussion.content %>
</p>
<p>
	<strong>
  Posted by <%= @discussion.user.name %>
	</strong>
</p>
<br>
<b style="font-size:110%">Comments</b>
<% @discussion.comments.each do |comment| %>
	<p>
		<b><%= comment.commenter %>:</b>
		<%= comment.body %>
	</p>
<% end %>
</br>
</br>

<b style="font-size:110%">Add a comment:</b>
<%= form_for ([@discussion, @discussion.comments.build]) do |f| %>
	<div class="field">
		<%= f.label :commenter, "Name" %>
		<%= f.text_field :commenter %>
	</div>
	<div class="field">
		<%= f.label :body, "Comment" %>
		<%= f.text_area :body, :rows => "5" %>
	</div>
	<div class="form-actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>
<% end %>
<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
</div>
</div>
</div>
